nav {
    width: 50vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    min-height: 100vh;
    max-width: 400px;
}

p.title {
    size: 500px;
}

ul.nav-bar {
    background-color: rgb(66, 102, 221);
    width: 100vw;
    display: flex;
    justify-content: center;
    list-style-type: none;
    float: left;
}

div.nav-bar2-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: white;
}

ul.nav-bar2 {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

ul.nav-bar li {
    padding: 10px;
    background-color: rgb(255, 51, 0);
    margin: 10px;
    border-radius: 10px;
    border-width: 50px;
}

ul.nav-bar2 button {
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}


a {
    color: white;
    text-decoration: none;
}