nav {
    width: 50vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    min-height: 100vh;
    max-width: 400px;
}

p.title {
    size: 500px;
}

ul {
    background-color: aqua;
    width: 100vw;
    display: flex;
    justify-content: center;
    list-style-type: none;
    float: left;
}

li {
    padding: 10px;
    background-color: rgb(255, 166, 0);
    margin: 10px;
    border-radius: 10px;
}

a {
    color: white;
    text-decoration: none;
}