* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: aquamarine;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

p.title {
    size: 500px;
}

ul.nav-bar {
    background-color: rgb(66, 102, 221);
    width: 100vw;
    display: flex;
    justify-content: center;
    list-style-type: none;
    float: left;
}

div.nav-bar2-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: white;
}

ul.nav-bar2 {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

ul.nav-bar li {
    padding: 10px;
    margin: 10px;
}

ul.nav-bar2 button {
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    border-width: 1px;
}

a {
    color: white;
    text-decoration: none;
}

div.table-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

div.standings-container {
    width: 50vw;
    height: 100vh;
}